*{
	margin: 0;
	padding: 0;
     font-family: Arial;
}
 a {
     text-decoration: none;
     outline: none;
}

/* ============= Header ============= */
 .header {
     text-align: center;
}
 .header img {
     width: 155px;
     padding: 20px 0 0 0;
}
 .header h1 {
     padding: 0 0 20px 0;
     background: -webkit-linear-gradient(#0C3E92, #0C3E92);
     background: -o-linear-gradient(#0C3E92, #0C3E92);
     background: linear-gradient(#0C3E92, #0C3E92);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

/*=== Menu ===*/
 ul.mainmenu {
 	 display: block;
     text-align: center;
     background: rgb(0,96,226);
     background: linear-gradient(0deg, rgba(0,96,226,1) 0%, rgba(91,163,255,1) 100%);
}
 ul.mainmenu a {
 	color: #fff;
 	display: table-cell;
 	height: 55px;
 	vertical-align: middle;
 	width: 140px;
    text-transform: capitalize;
}
 ul.mainmenu > li {
     display: inline-block;
}
 ul.mainmenu > li > a:hover {
     background: #0765E4;
}
/*=== End Menu ===*/

/* ============= End Header ============= */

/* ============= Main ============= */

/*=== Sidebar ===*/
 .sidebar {
     float: left;
     padding: 13px 30px;
     border-right: 1px solid #559EFD;
}
 .sidebar h2{
     text-align: center;
     text-transform: uppercase;
     font-size: 14px;
     padding: 19px 0;
}
 .sidebar table.otdels {
     margin: auto;
}
 .sidebar table.otdels a {
     color: #4c526d;
     padding: 5px 15px;
     display: block;
     margin: 2px;
     text-transform: uppercase;
     text-align: center;
     border-bottom: 1px solid #4c526d;
     border-right: 1px solid #4c526d;
}
 .sidebar table.otdels a:hover {
     color: #fff;
     background: rgb(94,149,197);
     background: linear-gradient(0deg, rgba(94,149,197,1) 0%, rgba(133,179,219,1) 100%);
}
 .sidebar table.otdels a:active{
     position: relative;
     top: 1px;
     border-top: 1px solid #4c526d;
     border-left: 1px solid #4c526d;
     border-bottom: 0px solid #4c526d;
     border-right: 0px solid #4c526d;
     background: rgb(133,179,219);
     background: linear-gradient(0deg, rgba(133,179,219,1) 0%, rgba(94,149,197,1) 100%);
}
/*=== End Sidebar ===*/

/*=== Content ===*/
 .content {
     padding-top: 20px;
}
 .content h2 {
 	text-align: center;
 	padding: 10px;
 	text-transform: uppercase;
 }
 .content table.peoples {
     border-collapse: collapse;
     text-align: center;
     margin: auto;
     margin-bottom: 100px;
}
 .content table.peoples th, .content table.peoples td:first-child {
     background: #559EFD;
     color: white;
     padding: 10px 20px;
}
 .content table.peoples td, .content table.peoples th {
     border-style: solid;
     border-width: 0 1px 1px 0;
     border-color: white;
}
 .content table.peoples td {
     background: #D8E6F3;
     padding: 0px 10px;
     color: #2b2727;
}
 .content table.peoples th:first-child, .content table.peoples td:first-child {
     text-align: center;
}
 .content table img.ammy {
     width: 20px;
 }

/*=== End Content ===*/

/* ============= End Main ============= */

/* наша HTML таблица */
table.sort{
    border-spacing:0.1em;
    margin-bottom:1em;
    margin-top:1em
}

/* ячейки таблицы */
table.sort td{
    border:1px solid #CCCCCC;
    padding:0.3em 1em
}

/* заголовки таблицы */
table.sort thead td{
    cursor:pointer;
    cursor:hand;
    font-weight:bold;
    text-align:center;
    vertical-align:middle
}

/* заголовок отсортированного столбца */
table.sort thead td.curcol{
    background-color:#999999;
    color:#FFFFFF
}
